<ns0:graphml xmlns:ns0="http://graphml.graphdrawing.org/xmlns" xmlns:ns2="http://www.yworks.com/xml/graphml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://graphml.graphdrawing.org/xmlns http://www.yworks.com/xml/schema/graphml/1.1/ygraphml.xsd">
  <ns0:key for="port" id="d0" yfiles.type="portgraphics" />
  <ns0:key for="port" id="d1" yfiles.type="portgeometry" />
  <ns0:key for="port" id="d2" yfiles.type="portuserdata" />
  <ns0:key attr.name="yed.palette.node.name" attr.type="string" for="node" id="d3" />
  <ns0:key attr.name="Palette ToolTip" attr.type="string" for="node" id="d4" />
  <ns0:key attr.name="url" attr.type="string" for="node" id="d5" />
  <ns0:key attr.name="description" attr.type="string" for="node" id="d6" />
  <ns0:key for="node" id="d7" yfiles.type="nodegraphics" />
  <ns0:key for="graphml" id="d8" yfiles.type="resources" />
  <ns0:key attr.name="yed.palette.edge.name" attr.type="string" for="edge" id="d9" />
  <ns0:key attr.name="Palette ToolTip" attr.type="string" for="edge" id="d10" />
  <ns0:key attr.name="url" attr.type="string" for="edge" id="d11" />
  <ns0:key attr.name="description" attr.type="string" for="edge" id="d12" />
  <ns0:key for="edge" id="d13" yfiles.type="edgegraphics" />
  <ns0:graph edgedefault="directed" id="G">
    {{#nodes}}
    <ns0:node id="{{id}}">
      <ns0:data key="d3">{{{name}}}</ns0:data>
      <ns0:data key="d4">{{{tooltip}}}</ns0:data>
      <ns0:data key="d6" />
      <ns0:data key="d7">
        <ns2:SVGNode>
          <ns2:Geometry height="60" width="60" x="0" y="0" />
          <ns2:Fill color="#CCCCFF" transparent="false" />
          <ns2:BorderStyle color="#000000" type="line" width="1.0" />
          <ns2:NodeLabel alignment="center" autoSizePolicy="content"
              fontFamily="Dialog" fontSize="12" fontStyle="plain" hasBackgroundColor="false"
              hasLineColor="false" hasText="false" height="4.0" horizontalTextPosition="center"
              iconTextGap="4" modelName="sandwich" modelPosition="s" textColor="#000000"
              verticalTextPosition="bottom" visible="true" width="4" x="0" y="0" />
          <ns2:SVGNodeProperties usingVisualBounds="true" />
          <ns2:SVGModel svgBoundsPolicy="0">
            <ns2:SVGContent refid="{{resourceId}}" />
          </ns2:SVGModel>
        </ns2:SVGNode>
      </ns0:data>
    </ns0:node>
    {{/nodes}}
  </ns0:graph>
  <ns0:data key="d8">
    <ns2:Resources>
      {{#resources}}
      <ns2:Resource id="{{id}}">{{{encodedContent}}}</ns2:Resource>
      {{/resources}}
    </ns2:Resources>
  </ns0:data>
</ns0:graphml>
